.container {
  width: 82%;
  padding: 0;
  margin: 50px auto;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub > a {
  font-weight: 900;
  color: #fb8f1d;
}
