h2 {
  font-family: Nunito;
  font-weight: 700;
}

h4 {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 900;
  position: relative;
}

h5 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
}

a:hover {
  color: black;
}

.pst {
  height: 360px;
}

.content {
  display: flex;
  justify-content: start;
  align-self: flex-start;
  flex-wrap: wrap;
  position: relative;
  /* border: 1px solid gray; */
}

.contentbelow {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid gray; */
}

.leftside {
  width: 610px;
}

.image {
  width: 610px;
  height: 409px;
  object-fit: cover;
  border-radius: 8px;
  align-items: flex-start;
}

.containersub {
  width: 610px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.containercounter {
  width: 505px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.counters {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  margin-left: 10px;
}

.counter {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.counter > p {
  font-size: 50px;
  font-weight: 600;
}

.imagebelow {
  width: 244px;
  height: 163px;
  object-fit: cover;
  border-radius: 8px;
  align-items: flex-start;
}

.images {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightside {
  padding-left: 40px;
  font-family: Playfair Display;
  text-transform: capitalize;
  width: 440px;
}

.price {
  padding-top: 10px;
  text-align: right;
  font-family: Playfair Display;
  font-size: 35px;
  font-weight: 900;
}

.newdiv {
  padding-top: 50px;
}

.container {
  width: 83%;
  padding-top: 20px;
  margin: 50px auto;
}

.heading {
  padding-bottom: 20px;
}
